<div class="search-filter-wrapper">
  <div class="flex-row">
    <div class="flex-row checkbox-wrapper">
      <input type="checkbox" name="my_checkbox" id="my_checkbox" />
      <label for="my_checkbox">
        <div>мои</div>
      </label>
    </div>
    <input type="text" placeholder="Автор" class="text-input" />
  </div>
  <div class="flex-row select-wrapper">
    <div>Сортировать по:</div>
    <select name="" id="">
      <option value="date">Дата</option>
      <option value="date1">1Дата</option>
      <option value="date2">2Дата</option>
    </select>
  </div>
  <div class="flex-row checkbox-area">
    <div class="flex-row checkbox-wrapper">
      <input type="checkbox" name="customer" id="customer" />
      <label for="customer">
        <div>я участник</div>
      </label>
    </div>
    <div class="flex-row checkbox-wrapper">
      <input type="checkbox" name="in_title" id="in_title" />
      <label for="in_title">
        <div>в заголовке</div>
      </label>
    </div>
    <div class="flex-row checkbox-wrapper">
      <input type="checkbox" name="strict_search" id="strict_search" />
      <label for="strict_search">
        <div>строгий поиск</div>
      </label>
    </div>
  </div>
</div>
